[submodule "sis-php/app"]
	path = sis-php/app
	url = https://github.com/moe-lk/sis-php.git
[submodule "bulk-upload"]
	path = bulk-upload
	url = https://github.com/moe-lk/bulk-upload.git
[submodule "sis-dashboard"]
	path = sis-dashboard
	url = https://github.com/moe-lk/sis-dashboard.git
